body{
    background-color: #082032;
    /*font-family: 'IBM Plex Mono', monospace;*/
    font-family: 'Poppins', sans-serif;
}

h1{
    color: #FF4C29;
}
h2{
    color: #ffffff;
}
p{
    color: #ffffff;
    text-align: justify;
}
input{
    height: 2rem;
    margin: 1.75rem 0 0 2rem;
    width: 10rem;
    text-align: center;
    font-size: 2rem;
}
.container{
    background-color:ECB365;
    height: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.stripe{
    background-color: #2C394B;
    display: flex;
    text-align: center;
    border: black;
    justify-content: space-around;
    margin: 20px;
    flex: 4;
}

.picker{
    background-color: 334756;
    display: flex;
    /*grid-row: 4;*/
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 10rem;
    height: 7.5rem;
}

.circle-picker{
    width: 20px;
    height: 20px;
    margin-top: 8px;
    border: 2px solid #d8d8d8;
    border-radius: 50%;
}
#navbar{
    height: 10%;
}
#app{
    height: 75%;
}
#bands{
    display: flex;
}
#content{
    color: white;
    margin: 0rem 5rem 5rem 5rem;
}
#content img{
    margin:  5% 20% 5% 20%;
    width: 60%;
    height: 70%;
}
#banner{
    display: flex;
    justify-content: space-around;
    background-color: #FF4C29;
}
#banner a{
    text-decoration: none;
    color: #000;
}
#banner a:hover{
    color: white;
}

#banner h1{
    color: #000;
}
#banner img{
    height: 6rem;
}
#result{
    text-align: center;
    margin-top: 5rem;
}
#bands{
    display: flex;
    align-content: center;
    margin: 5rem 0rem 2rem 37%; 
}

#footer{
    height: 6rem;
    display: flex;
    justify-content: space-around;
    background-color: #082032;
}
#footer a{
    color: #fff;
    text-decoration: none;
}
#footer a:hover{
    color: #FF4C29;
}
#footer img{
    height: 5rem;
}

@media screen and (max-width: 800px) {
    #content img{
        height: 12rem;
        width: 15rem;
        margin: 0;
    }
    #banner{
        height: 3rem;
    }
    #banner h1{
        font-size: 1rem;
    }
    #banner img{
        height: 3rem;
    }
}